<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Applied Machine Learning - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title"><a href="{{ site.baseurl }}/">COMS W4XXX</a></h1>
          <span class="tagline">Applied Machine Learning</span>
        </div>
        <div class="posts">
          <ul class="posts-list">
            {% for page in site.pages %}
              <li class="post-link">
                <a class="post-title" href="{{ site.baseurl }}{{ page.url }}">
                  {{ page.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="https://courseworks.columbia.edu/" class="footer-link">Courseworks</a> <span class="separator">&bull;</span>
            <a href="https://piazza.com/columbia/fall2016/" class="footer-link">Piazza</a> <span class="separator">&bull;</span>
            <a href="https://github.com/amueller/applied_ml_spring_2017" class="footer-link">GitHub</a>
          </span>
        </div>
      </div>

        {{ content }}

    </div>
    <script src="{{ site.baseurl }}/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
